<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{{ site.title }}{% endblock %}</title>
		{% include 'assets/meta.html' %}
		{% block og %}
			{% include 'assets/og.html' %}
		{% endblock %}
		{% include 'assets/css.html' %}
		{% include 'assets/js.html' %}
		{% include 'assets/app.html' %}
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include 'common/header.html' %}
		{% endblock %}
		<div id="body" class="container">
			{% block body %}{% endblock %}
		</div>
		{% block loading %}
			{% load static %}
			<div id="loading-cover" class="curtain">
				<img alt="loading" src="{% static 'images/loading.gif' %}" width="30" height="30" />
			</div>
		{% endblock %}
	</body>
</html>
